# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/dropsell?retryWrites=true&w=majority

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-super-secret-key-here-generate-with-openssl-rand-base64-32

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dgewaqr7w
CLOUDINARY_API_KEY=387743485551751
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=DropSell

# Email (SMTP for verification)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=arghoroy339@gmail.com
SMTP_PASS=your-gmail-app-password

# Admin
ADMIN_EMAIL=arghoroy339@gmail.com
ADMIN_PASSWORD=Argho@12345

# App
NEXT_PUBLIC_WHATSAPP_NUMBER=8801707776676
NEXT_PUBLIC_SUPPORT_PHONE=01707776676
NEXT_PUBLIC_SUPPORT_EMAIL=arghoroy339@gmail.com
